@model TimeReportMvc.Models.CustomerModels.CustomerEditModel

@{
    ViewData["Title"] = Model.Name;
}
<div class="card">
    <div class="card-header">
        <h1>Edit customer</h1>
    </div>
    <div class="card-body">
        <form method="post">
            <input asp-for="CustomerId" type="hidden"/>
            <div class="form-group">
                <label asp-for="Name">Customer name</label>
                <input class="form-control" asp-for="Name"/>
                <span asp-validation-for="Name" class="field-validation-error"></span>
            </div>

            <button type="submit" class="btn">Save</button>

        </form>

    </div>
</div>