@model TimeReportMvc.Models.CustomerModels.CustomerIndexModel

@{
    ViewData["Title"] = "All Customers";
}

<h1>All customers </h1>
<ul>
    @foreach (var customer in Model.Customers)
    {
        <li>
            <a asp-controller="Customer" asp-action="CustomerView" asp-route-id="@customer.Id">@customer.Name</a>
        </li>
    }
</ul>

<a class="btn btn-success" asp-controller="Customer" asp-action="CreateCustomer">Create customer</a>